$color-main:#72409B;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 1920px;
    height: 123px;
    flex-shrink: 0;
    background-color: $color-main;
}

.left-nav{
    display: flex;
    list-style: none;
}